@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.box-fill-chat {
    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;
}
.box-fill-chat::-webkit-scrollbar {
    width: 0;
}

.box-fill-chat {
    scrollbar-width: none;
    max-height: 500px;
}

.box-fill-chat {
    -ms-overflow-style: none;
}
.box-control-chat{
    padding: 0 1.25rem;
    background: white;
    justify-content: space-between;
    max-height: 500px;
}
@layer base {

    label {
        @apply h-6 relative inline-block;
    }

    [type="checkbox"] {
        @apply w-11 h-0 cursor-pointer inline-block;
        @apply focus:outline-0 dark:focus:outline-0;
        @apply border-0 dark:border-0;
        @apply focus:ring-offset-transparent dark:focus:ring-offset-transparent;
        @apply focus:ring-transparent dark:focus:ring-transparent;
        @apply focus-within:ring-0 dark:focus-within:ring-0;
        @apply focus:shadow-none dark:focus:shadow-none;

        @apply after:absolute before:absolute;
        @apply after:top-0 before:top-0;
        @apply after:block before:inline-block;
        @apply before:rounded-full after:rounded-full;

        @apply after:content-[''] after:w-5 after:h-5 after:mt-0.5 after:ml-0.5;
        @apply after:shadow-md after:duration-100;

        @apply before:content-[''] before:w-10 before:h-full;
        @apply before:shadow-[inset_0_0_#000];

        @apply after:bg-white dark:after:bg-gray-50;
        @apply before:bg-gray-300 dark:before:bg-gray-600;
        @apply before:checked:bg-primary dark:before:checked:bg-primary;
        @apply checked:after:duration-300 checked:after:translate-x-4;

        @apply disabled:after:bg-opacity-75 disabled:cursor-not-allowed;
        @apply disabled:checked:before:bg-opacity-40;
    }
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #195bb0;
}
.height-start-chat{
    height: 40px;
}
.box-fill-chat {
    padding: 5px;
    line-height: 1.5;
}
.editable-div {
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    min-height: 20px;
    max-height: 500px;
    overflow-y: hidden;
    box-sizing: border-box;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    line-height: 1.5;
}

.editable-div[contenteditable="true"]::before {
    content: attr(placeholder);
    color: #aaa;
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    z-index: 1;
}
.placeholder-edit {
    color: #aaa;
    position: absolute;
    top: 17px;
    left: 43px;
    pointer-events: none;
    z-index: 1;
    visibility: hidden;
}

.editable-div:empty + .placeholder-edit {
    visibility: visible;
}